<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.biaozhunban">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".entrance.viewImpl.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entrance.viewImpl.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".entrance.viewImpl.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".entrance.viewImpl.RegisterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".entrance.viewImpl.SettingActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".basicHealth.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".assistant.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".education.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".customerService.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".qualityControl.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.ArchiveActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.QueryActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity android:name=".basicHealth.MedicineActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".basicHealth.BaoBiaoActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".customerService.ShenQingActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".customerService.DingGouActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".assistant.XunZhengActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".assistant.JiBingKuActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".education.XianDianTuActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".education.ListActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".comm.VideoActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".customerService.HuiFuActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.CoreActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".publicHealth.ListActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.WeishengJianDuActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.DengjiListActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.XieGuanDengJiActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.XunChaDengJiActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.JianKangJiaoYuDengJiActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"/>
        <activity android:name=".publicHealth.DetailServiceActivity" />
        <activity android:name=".publicHealth.edit.DangAnEditor" />
        <activity android:name=".publicHealth.edit.TiJianBiaoEditor" />
        <activity android:name=".publicHealth.edit.JieZhongEditor" />
        <activity android:name=".publicHealth.edit.XinShengerFangShiEditor" />
        <activity android:name=".publicHealth.edit.YiSuiErTongJianChaEditor" />
        <activity android:name=".publicHealth.edit.LiangSuiErTongJianChaEditor" />
        <activity android:name=".publicHealth.edit.SanDaoLiuSuiErTongJianChaEditor" />
        <activity android:name=".publicHealth.edit.ChanqianSuiFang01Editor" />
        <activity android:name=".publicHealth.edit.ChanQianSuiFang02dao05Editor" />
        <activity android:name=".publicHealth.edit.ChanHouFangShiEditor" />
        <activity android:name=".publicHealth.edit.ChanHouFangShi42Editor" />
        <activity android:name=".publicHealth.edit.LaoNianRenEditor" />
        <activity android:name=".publicHealth.edit.GaoXueYaEditor" />
        <activity android:name=".publicHealth.edit.TangNiaoBing2XingEditor" />
        <activity android:name=".publicHealth.edit.JingShenBingHuanZheXinXiEditor" />
        <activity android:name=".publicHealth.edit.JingShenBingFangShiEditor" />
        <activity android:name=".publicHealth.edit.ChuanRanBingEditor" />
    </application>

</manifest>